@model Common.ServiceMessages.AddImageCommentMsg

@{
    ViewData["Title"] = "ImageView";
}

<form asp-action="AddComment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ImageId"/>
    <div class="row">
        <div class="col-md-12">
            <h2>See and post your comment</h2>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">

            <img width="450" src="/Home/ViewImage/@Model.ImageId" />

        </div>
        <div class="col-md-5">
            <textarea asp-for="AllCommentsInfo" rows="12" class="form-control" readonly="readonly" style="background-color:whitesmoke;"></textarea>
            <br />
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            Avg rating: @Model.AvgRate
        </div>
        <div class="col-md-5">
            <br />
            <div show-if="User.Identity.IsAuthenticated">Write your comment here</div>
            <input show-if="User.Identity.IsAuthenticated" asp-for="Comment" class="form-control" />
            
            @*<input asp-for="Rate" class="form-control" style="width:100px;" />*@
            <select show-if="User.Identity.IsAuthenticated" asp-for="Rate">
                <option>Rate the image</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <br /><input show-if="User.Identity.IsAuthenticated" type="submit" value="Add comment" class="btn btn-default" />
        </div>
        <div class="col-md-1"></div>
    </div>
</form>

