@model Common.ServiceMessages.HomePageMsg

@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to new images app!</h2>
<br/>
<br/>
<h4 class="alert-danger">@Model.ErrorMessageAuth</h4>
<h4 class="alert-danger">@Model.ErrorMessageImg</h4>
